* {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
.wrapper {
    width: 100%;
    height: 100%;
    /* To-Do List App */
    /* End To-Do List App */
}
.wrapper .align {
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0 0 0;
}
.wrapper .app {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    font-family: 'Noto Sans', sans-serif;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 15px -2px rgba(0, 0, 0, 0.07);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.wrapper .app .info {
    position: fixed;
    z-index: 999;
    height: 20%;
    width: 100%;
    top: 0;
    background: linear-gradient(135deg, rgba(158, 15, 184, 1) -10%, rgba(5, 232, 255, 1) 135%), url('https://static.vecteezy.com/system/resources/previews/000/101/253/non_2x/free-abstract-background-1-vector.jpg');
    background-size: cover;
}
.wrapper .app .info .date {
    position: relative;
    width: 100%;
    padding: 11px 0 5px 0;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}
.wrapper .app .info .date p#day,
.wrapper .app .info .date p#month {
    text-align: center;
    font-size: 26px;
    color: #fff;
}
.wrapper .app .info .date p#month {
    font-size: 14px;
}
.wrapper .app .info .info-bottom {
    height: 50px;
    width: 85%;
    position: relative;
    margin: 10px auto 0 auto;
}
.wrapper .app .info .info-bottom .left {
    float: left;
}
.wrapper .app .info .info-bottom .right {
    float: right;
}
.wrapper .app .info .info-bottom .middle {
    width: 140px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.wrapper .app .info .info-bottom #count,
.wrapper .app .info .info-bottom #tasks,
.wrapper .app .info .info-bottom #count_done,
.wrapper .app .info .info-bottom #tasks_done,
.wrapper .app .info .info-bottom #remaining_done,
.wrapper .app .info .info-bottom #remaining_tasks {
    margin-top: 11px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text; 
}
.wrapper .app .info .info-bottom #tasks,
.wrapper .app .info .info-bottom #tasks_done,
.wrapper .app .info .info-bottom #remaining_tasks {
    font-weight: normal;
    font-size: 14px;
    margin-top: -5px;
}
.wrapper .app ul {
    height: 70%;
    margin: 35% auto 0 auto;
}
.wrapper .app ul #today {
    width: 100%;
    height: 36px;
    text-align: center;
    color: #636363;
    line-height: 36px;
    margin: 10px auto;
}
.wrapper .app ul li {
    position: relative;
    display: flex;
    list-style: none;
    margin: 10px auto;
    width: 90%;
    min-height: 35px;
    border-bottom: solid 1px #f1f1f1;
    color: #636363;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
}
.wrapper .app ul li a {
    width: 35px;
    height: 30px;
    margin-top: -3px;
    display: inline-block;
    color: #636363;
    text-decoration: none;
    line-height: 31px;
}
.wrapper .app ul li a i {
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    margin-left: 7px;
    margin-top: -1px;
    font-size: 20px;
    font-weight: bold;
}
.wrapper .app ul li a i.mark {
    color: #744bc0;
}
.wrapper .app ul li a i.mark-alt {
    color: #636363;
}
.wrapper .app ul li a:hover > i {
    color: #744bc0;
}
.wrapper .app ul li .right {
    width: 80%;
    height: 100%;
    display: inline-block;
    margin: -3px auto 0 auto;
}
.wrapper .app ul li .right p {
    width: 90%;
    height: 28px;
    display: inline-block;
    word-wrap: break-word;
    line-height: 28px;
    outline: none;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
}
.wrapper .app ul li .right p span {
    cursor: text;
}
.wrapper .app ul li .right p.line-through {
    color: #b3b3b3;
    text-decoration: line-through;
    font-style: italic;
    margin-left: 7px;
}
.wrapper .app ul li span {
    display: inline-block;
    width: 35px;
    height: 30px;
    line-height: 31px;
    cursor: pointer;
    margin-top: -3px;
}
.wrapper .app ul li span i {
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
    font-size: 20px;
    margin-left: 7px;
    margin-top: -1px;
}
.wrapper .app ul li span:hover > i {
    color: #24b5e2;
}
.wrapper .app ul li:last-child {
    border-bottom: solid 1px transparent;
}
.wrapper .app .bottom {
    z-index: 10;
    position: fixed;
    height: 50px;
    width: 100%;
    bottom: 2%;
}
.wrapper .app .bottom a {
    width: 50%;
    height: 40px;
    position: absolute;
    line-height: 40px;
    display: block;
    margin: 5px auto;
    margin-left: 25%;
    font-size: 14px;
    background: linear-gradient(135deg, rgba(158, 15, 184, 0.9) -20%, rgba(5, 232, 255, 0.9) 125%);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.wrapper .app .bottom a i {
    margin-right: 5px;
}
.wrapper .app .bottom a:hover {
    background: linear-gradient(135deg, rgba(158, 15, 184, 0.8) -20%, rgba(5, 232, 255, 0.8) 125%);
}
.down {
    -webkit-animation: slide_down .4s;
    -moz-animation: slide_down .4s;
    -o-animation: slide_down .4s;
    animation: slide_down .4s;
}
@keyframes slide_down {
    0% {
        opacity: 0;
        transform: translate(0, 0);
        margin-top: -41px;
        transform: scale(0);
    }
    20% {
        opacity: 0;
    }
    80% {
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
        margin-top: 10px;
        transform: scale(1);
    }
}
.up {
    -webkit-animation: slide_up .6s;
    -moz-animation: slide_up .6s;
    -o-animation: slide_up .6s;
    animation: slide_up .6s;
}
@keyframes slide_up {
    0% {
        opacity: 1;
        transform: translate(0, 0);
        margin-top: 10px;
        transform: scale(1);
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translate(0, 0);
        margin-top: -45px;
        transform: scale(0);
    }
}