#open_btn {
	border: none;
	border-radius: 10px;
	outline: none;
	background: #f3f3f3;
}
 
#div1 {
	background:#eeeeee;
    width: 70%;
	z-index: 1;
	margin: 12% auto;
	overflow: auto;
}
 
span {
	color: white;
	padding-top: 12px;
	cursor: pointer;
	padding-right: 15px;
}
 
#div2 {
	background:#eeeeee;
	margin: auto;
	height: 300px;
	padding: 0 20px;
}

#chapters {
    margin-left: 40%;
}

#confirm {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin-left: 35%;
    margin: 20 auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
 
#close {
	padding: 5px;
	background: #d4d4d4;
}
 
#close-button {
	float: right;
	font-size: 30px;
}
 
h2 {
	margin: 10px 0;
	color: rgb(0, 183, 207);
	padding-left: 15px;
}
 
h3 {
	margin: 0 0px;
	padding-top: 15px;
}